@page "/exercise-executions/delete/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@inject ApplicationDbContext Context
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Usuń wykonane ćwiczenie</PageTitle>

<h1 class="title">Usuń</h1>

@if (exerciseExecution == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <div class="message is-danger">
        <div class="message-header">
            <p>Czy na pewno chcesz usunąć to wykonane ćwiczenie?</p>
        </div>
        <div class="message-body">
            <dl class="columns is-multiline">
                <dt class="column is-2">Typ ćwiczenia</dt>
                <dd class="column is-10">@exerciseExecution.ExerciseTypeName</dd>
                <dt class="column is-2">Sesja treningowa</dt>
                <dd class="column is-10">@exerciseExecution.TrainingSessionDisplay</dd>
                <dt class="column is-2">Obciążenie (kg)</dt>
                <dd class="column is-10">@exerciseExecution.Weight.ToString("F2")</dd>
                <dt class="column is-2">Liczba serii</dt>
                <dd class="column is-10">@exerciseExecution.NumberOfSets</dd>
                <dt class="column is-2">Liczba powtórzeń w serii</dt>
                <dd class="column is-10">@exerciseExecution.RepetitionsPerSet</dd>
            </dl>
            <form method="post" @onsubmit="HandleDelete" class="has-text-centered">
                <input type="hidden" value="@exerciseExecution.Id" />
                <button type="submit" class="button is-danger">Usuń</button>
                <a href="/exercise-executions" class="button is-link">Powrót do listy</a>
            </form>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private ExerciseExecution? exerciseExecutionEntity;
    private ExerciseExecutionDTO? exerciseExecution;
    private string? userId;

    async Task<string?> getUserId()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);
        return userId;
    }

    protected override async Task OnInitializedAsync()
    {
        userId = await getUserId();

        if (userId != null)
        {
            exerciseExecutionEntity = await Context.ExerciseExecution
                .Include(e => e.ExerciseType)
                .Include(e => e.TrainingSession)
                .Where(e => e.Id == Id && e.TrainingSession.UserId == userId)
                .FirstOrDefaultAsync();

            if (exerciseExecutionEntity == null)
            {
                Navigation.NavigateTo("/exercise-executions");
            }
            else
            {
                exerciseExecution = new ExerciseExecutionDTO(exerciseExecutionEntity);
            }
        }
    }

    private async Task HandleDelete()
    {
        if (exerciseExecutionEntity != null)
        {
            Context.ExerciseExecution.Remove(exerciseExecutionEntity);
            await Context.SaveChangesAsync();
        }
        Navigation.NavigateTo("/exercise-executions");
    }
}

